<ion-item lines="none">
    <ion-label position="floating">{{label}}</ion-label>
    <span *ngIf="mask; else unmasked">
        <ion-input aria-label="" [placeholder]="placeholder" [maskito]="mask" [maskitoElement]="maskPredicate"
            [type]="type === 'password' ? showPassword ? 'string' : 'password' : type" [value]="value"
            (ionInput)="updateValue($any($event).detail.value)">
        </ion-input>
    </span>
    <ng-template #unmasked>
        <ion-input aria-label="" [placeholder]="placeholder"
            [type]="type === 'password' ? showPassword ? 'string' : 'password' : type" [value]="value"
            (ionInput)="updateValue($any($event).detail.value)">
        </ion-input>
    </ng-template>
    <div class="errors">
        <p *ngFor="let error of errors">
            {{error}}
        </p>
    </div>
</ion-item>