:host {
  display: flow-root;
  margin: 12px 14px 24px 12px;
}

ion-item {
  margin: 0;
  box-shadow: 2px 2px 0px 6px var(--ion-color-dark);
  border-radius: 4px;
}

ion-label {
    font-weight: bold;
}
