:host {
  display: flow-root;
  margin: 12px 14px 24px 12px;
}

ion-button {
  margin: 0;
  box-shadow: 2px 2px 0px 6px var(--ion-color-dark);
  border-radius: 4px;
  text-transform: none;
  width: 100%;
  color: var(--ion-color-dark);
  font-weight: bold;
}